{
  "MODE": "release",
  "ProgramName": "行程卡数据接口",
  "AUTHOR": "",
  "VERSION": "",
  "REDIS": {
    "Use": false,
    "Config": {
      "IP": "",
      "PORT": "",
      "PASSWORD": "",
      "DB": 0
    }
  },
  "OSS": {
    "Use": false,
    "Config": {
      "AccessKeySecret": "",
      "AccessKeyId": "",
      "EndPoint": "",
      "BucketName": "",
      "BaseURL": "",
      "Path": ""
    }
  },
  "OCR": {
    "Use": false,
    "Url": ""
  }
}